.single-post-title {
  padding: 2em 0 1em 0;
}

.single-post-content {
  img {
    width: 100%;
  }
}

.single-post-extra {
  margin: 0 auto;
}

.prev-and-next-article {
  display: flex;
  justify-content: space-between;
}

.related-content {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  .related-heading {
    width: 100%;
    text-align: center;
  }
}

@include mq('tablet-wide') {
  .single-post-extra {
    width: calc(100vw - 20%);
    
  }
  .related-content {
    padding: 4em 0;
  }
}