h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headingType;
  font-weight: $headingWeight;
}

p, ul, ol {
  font-family: $bodyType;
  font-weight: $bodyWeight;
  line-height: $pLineHeight;
  text-align: justify; 
}

p, ul, ol {
  a {
    color: $cta;
    font-weight: 700;
    transition: color .3s ease;
    &:hover {
      color: $textFocus;
    }
  }
}

.single-post-content {
  a {
    color: $cta;
    font-weight: 700;
    transition: color .3s ease;
    &:hover {
      color: $textFocus;
    }
  }
}
