<!--search form -->
<!-- start of freefind search box html -->
<form class ="{{ if .IsHome }} search-form-home {{ else }} search-form {{ end }}" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
  <input type="hidden" name="si" value="90387097">
  <input type="hidden" name="pid" value="r">
  <input type="hidden" name="n" value="0">
  <input type="hidden" name="_charset_" value="">
  <input type=hidden name=css value="">
  <input type="hidden" name="bcd" value="&#247;">
  <input type="text" placeholder ="Search CUBE Articles" name="query" size="15"> 
  <input type="submit" value="&#128269;">
  </form>
<!-- end of freefind search box html -->
<!-- end of search form -->  